
.titleProyects{
    font-size: 2.5rem;
    padding: 2rem;
    margin-left: 10%;
    color: white;
}

.textProyectsContainer{
    display: flex;
    justify-content: center;
}

.textProyects{
    padding: 2rem;
    width: 80%;
}

.line{
    display: flex;
    margin-left: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
    border-style: double;
    width: 60%;
}
